@font-face {
	font-family: "InterRegular";
	src: url('../fonts/InterRegular.ttf');
}
@font-face {
	font-family: "InterBold";
	src: url('../fonts/InterBold.ttf');
}
p{
	margin: 0;
}
.prod-main{
	width: 1240px;
	margin: 25px 0;
	display: flex;
	justify-content: space-between;
}
.prod-images{
	width: 773px;
	height: 584px;
	background-color: #f0f0f0;
}

.about-prod{
	width: 443px;
	height: 442px;
	background-color: #f0f0f0;
	padding: 30px 37px;
	font-family: 'InterBold';
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.rating, .feedback{
	display: flex;
	align-items: center;
}
.rating img, .feedback img{
	margin-right: 7px;
}
.min-charact{
	display: flex;
	justify-content: space-between;

}
.min-charact p{
	margin-bottom: 5px;
}
.all-charact-link{
	text-decoration: none;
	font-size: 10px;
	color: #7865E0;
}
.cost{
	display: flex;
	justify-content: space-between;
}
.cost p{
	font-size: 36px;
}
.cost button{
	background-color: #7865E0;
	border: none;
	font-size: 24px;
	padding: 8px 35px;
	color: #fff;
}
.character-prod{
	display: flex;
	margin: 25px 0;
	align-items: flex-start;
}
.charact{
	flex-basis: 55%;

}
.description{
	flex-basis: 45%;
}
.charact, .description{
	background-color: #f0f0f0;
	display: flex;
	
	align-items: center;
	flex-direction: column;
	padding-bottom: 25px;
}
.charact h4, .description h4{
	font-family: 'InterBold';
	font-size: 32px;
	margin: 0;
	padding: 25px 0;
}
.description p{
	font-size: 16px;
	padding-left: 20px;
	width: 90%;
	margin-bottom: 15px;
}
.det_specifications{
	width: 90%;
	padding-right: 20px;
}
.det_specifications p{
	font-family: "InterBold";
	color: #7865E0;
	font-size: 20px;
	margin: 30px 0 20px;
}
.det_specifications p:first-child{
	margin-top: 0;
}
.det_specifications_name {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
}
.det_specifications_value{
	display: flex;
	align-items: center;
	color: #000;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	border-bottom: 1px dashed #6a6a6a;
}
.det_specifications_value:last-child{
	text-align: right;
	color: #6a6a6a;
	justify-content: flex-end;
}
.up{
	background-color: #7865E0;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 30px;
}
.up a{
	text-decoration: none;
	color: #fff;
}
.prod-images{
	display: flex;
	align-items: center;
}
.img-menu{
	display: flex;
	flex-direction: column;
	width: 120px;
	align-items: flex-start;
}
.img-menu img{
	display: block;
}
.img-menu div{
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	justify-content: center;
}
.img-menu button{
	border: none;
}
.this-img::before{
	content:  '';
	width: 5px;
	height: 70px;
	background-color: #7865E0;
	margin-right: 99px;
	position: absolute;
}
.main-img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-img img{
	height: 530px;
	pointer-events: none;
}
.modal {
	position: fixed;
	/* фиксированное положение */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
	/* цвет фона */
	/* opacity: 0; */
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	/* анимация перехода */
	pointer-events: none;
	/* элемент невидим для событий мыши */
  }


  .modal-dialog {
	position: relative;
	width: 570px;
	margin: 10px auto;
  }

  /* свойства для блока, содержащего контент модального окна */
  .modal-content {
	position: relative;
	top: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 1px solid #7068ED;
	outline: 0;
  }

  /* свойства для заголовка модального окна */
  .modal-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 65px;
  }
  .modal-header_title {
	display: flex;
	align-items: center;		
  }
  .modal-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 700;
	color: #000;
  }
	.modal-header_cards {
		margin-left: 30px;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.cards span{
		margin-right: 5px;
		color: #646464;
	}
  .close {
	float: right;
	font-size: 24px;
	margin-right: 65px;
	font-weight: 700;
	line-height: 1;
	color: #7068ED;
	text-decoration: none;
  }

  /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
  .close:focus,
  .close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .75;
  }

  /* свойства для блока, содержащего основное содержимое окна */
  .modal-body {
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow: auto;
	margin-top: 10px;
	padding-left: 65px;
	padding-right: 65px;
  }
  .modal-body h4 {
	margin: 0;
	font-size: 16px;
	color: #000;
	font-weight: normal;
  }
  .modal-body input {
	width: 100%;
	height: 35px;
	border-radius: 5px;
    border: 1px solid #7068ED;
	color: #000;
	background-color: #fff;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-top: 5px;
  }
  .validity_period_input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  }
  .validity_period_input span {
	color: #646464;
	font-size: 20px;
	margin: 0 6px;
  }
  .data_card {
	display: flex;
	flex-direction: row;	
	justify-content: space-between;	
	margin-top: 30px;
  }
  .data_card h4{
	color: #646464;
	font-size: 16px !important;
  }
  .data_card input {
	width: 60px;

  }
  .pay_button {
	margin-top: 50px;
	height: 40px;
	margin-bottom: 30px;
	background-color: #7068ED;
	border-radius: 5px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
  }
  .pay_button input:hover {
	background-color: #f0f0f0;
	color: #7068ED;
	transition: 0.5s ease;
  }
  .pay_button:hover {
	background-color: #f0f0f0;
	transition: 0.5s ease;
  }
  .pay_button input{
	color: #fff;
	background-color: #7068ED;
	font-size: 20px;
	cursor: pointer;
	height: 40px;
	width: 440px;
	border-radius: 5px;
	transition: 0.5s ease;
  }